.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

.content-container.body {
  padding: $l-size 0 0;
}

.content-container h1.page-title {
  color: $red;
  text-align: center;
  margin: 0;
  margin-bottom: $m-size;
  font-weight: bold;
  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}
