.movie-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  margin-bottom: $l-size;
  cursor: pointer;
  @media screen and (min-width: $desktop-breakpoint) {
    margin-bottom: 0;
    height: 100%;
  }
}

.movie-item img {
  height: 85%;
  width: 100%;
}

.movie-item p {
  text-align: center;
  color: $white;
  margin-top: $xs-size;
}

.movie-item:hover p {
  color: $bloody;
}

.movies-list {
  padding: $m-size 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $desktop-breakpoint) {
    padding: $l-size 0 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

.no-movies {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 50vh;
  margin: auto;
  color: red;
}
